altair==4.1.0
async-generator==1.10
async-timeout==3.0.1
blinker==1.4
brotlipy==0.7.0
certifi==2021.5.30
cycler==0.10.0
cytoolz==0.11.0
epam.indigo==1.4.3
google-auth-oauthlib==0.4.1
ipython-genutils==0.2.0
locket==0.2.0
pandas==1.2.4
pandocfilters==1.4.2
protobuf==3.16.0
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo==1.20.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
python-multipart==0.0.5
PyYAML==5.4.1
reportlab==3.5.67
scikit-image==0.18.1
Send2Trash==1.5.0
torch==1.7.1
torchvision==0.8.2
webencodings==0.5.1
